<div>
  All Tasks
</div>
<div>
  <add-task (onTaskAdd)="onAdd($event)"></add-task>
  <table>
    <thead>
      <tr>
        <td>S No.</td>
        <td>Task name</td>
        <td>Description</td>
        <td>Priority</td>
        <td>Last Updated</td>
        <td>Status</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let task of (taskState|async).tasks;let i = index; trackBy:i">
        <edit-task *ngIf="task.isEditing" [serialNumber]="i+1" [task]="task" (onSave)="onSaveEdited($event)"
        (onCancelEdit)="onCancelEdit($event)"></edit-task>
        <task *ngIf="!task.isEditing" [serialNumber]="i+1" [taskToDisplay]="task" (onClickEdit)="onEdit($event)"
          (onDelete)="onDelete($event)" (onChangeStatus)="onSaveEdited($event)"></task>
      </tr>
    </tbody>
  </table>
</div>
